@import './_variables.css';

@import './components/_base.css';
@import './components/_header.css';
@import './components/_nav.css';
@import './components/_header.css';
@import './components/_posts-list.css';
@import './components/_tags.css';
@import './components/_code-highlight.css';
@import './components/_links.css';
@import './components/_images.css';

main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed var(--lightgray);
}
header:after {
  content: "";
  display: table;
  clear: both;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */

.main {
  margin: auto;
  padding: 1rem 0;
}

.tmpl-home,
.article {
  margin: auto;
  max-width: 100vw;

  & > *:not(pre):not(img) {
    padding: 0 1rem;
  }
}



@media screen and (min-width: 768px) {
  .main {
    max-width: 740px;
  }
}
