---
layout: layouts/home.njk
tags:
  - nav
navtitle: Início
---
# Olá

Meu nome é Leandro Cavalcante, sou um desenvolvedor frontend web em São Paulo.

# Últimos 5 Posts

{% set postslist = collections.posts | head(-5) %}
{% include "postslist.njk" %}

<p>Todos os posts em <a href="{{ '/posts/' | url }}">blog</a>.</p>
