---
layout: layouts/home.njk
tags:
  - nav
navtitle: Início
---

<h1>Últimos 5 Posts</h1>

{% set postslist = collections.posts | head(-5) %}
{% include "postslist.njk" %}

<p>Mais posts em <a href="{{ '/posts/' | url }}">arquivo</a>.</p>
