---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>Tagueado com "{{ tag }}"</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Ver <a href="{{ '/tags/' | url }}">todas as tags</a>.</p>
