---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="article">
  <h1>{{ title }}</h1>

  {% if image  %}
  <img src="{{ image | url }}" class="post-cover" />
  {% endif %}

  {{ content | safe }}

  <p><a href="{{ '/' | url }}">← Início</a></p>
</article>
